# Storage
/storage/*
!/storage/app/public/.gitignore
!/storage/logs/.gitignore

# Bootstrap cache
/bootstrap/cache/*

# Environment
.env
.env.*
!.env.example

# Composer
/vendor

# Node
/node_modules

# IDE
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log
storage/logs/*.log